services:
  web:
    build: ./front
    restart: always
    ports:
      - "80:80"
    depends_on:
      - python_app
      
  python_app:
    build: ./bot
    restart: always
    ports:
      - "5001:5001"

volumes:
  web_data: